#divMain{
  margin-top: 60px;
}
#footer {
    width: 100%; 
    background-size: 100% 100%;
    margin-top: 40px;
    align-content: center;
    position:absolute;
    border-color: white;
border-style: solid;
}
.footer{
    float:left;
    padding-top: 35px;
    text-align: center;
    color: white;
}
.redesfooter{
    width:20%;
    float:left;
    text-align: center;
    color: white;
}
#copyright{
    padding-top: 65px;
    margin-top: 25px;
}
/****************mostly fluid****************/
//phone
@media (min-width: 0px) {
    #laterales1{
        display: none;
      }
      #laterales2{
        display: none;
      }
      #central{
        width:100% ;
      }
}
//desktop
@media (min-width: 796px) {
    #laterales2{
        display: block;
        width: 20%;
        padding-top: 40px;
        padding-left: 8%;
        text-align: left;
      }
      #laterales1{
        display: block;
        width: 20%;
        padding-top: 65px;
        padding-left: 8%;
        text-align: left;
        margin-right: 8%;
      }
      #central{
        width:40% ;
      }
}