<div id="divMain">
    <div id="text" class="divmain">
        <h1>Visión</h1>
        <p>
            En el año 2025 El Instituto chiquitines se proyecta como un centro de
            atención integral, que promueve una formación académica llena de creatividad,
            trabajando todas las dimensiones del estudiante, potencializando sus
            inteligencias, disposición para innovar, autónomos, capacitados para afrontar
            las situaciones diarias, con valores éticos firmes y definidos y dedicados a la
            creación de un mundo mejor. 

        </p>
    </div>
    <div id="img" class="divmain">
        <img src="../../../../../assets/img/vision.png" width="150">
    </div>
</div>