/*Diseño princiopal*/
*{
    padding: 0;
    margin: 0;
}
header{    
    background-image: url(./img/bradcam.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color:white;
}
#menu ul{    
    list-style: none;
    margin: 0;
    padding: 0;
    height: 42px;
    width: auto;    
    border-radius: 10px;
}
#menu #item {
    float: left;
}
#menu #logo {
    float: left;
    margin: 5px 10px;
}
#menu #item a {
    text-decoration: none;
    color:white;
    padding: 12px 22px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#menu #item ul {
    color: brown;
}
#menu #desple {
    display: none;
    background-color: rgba(46, 78, 219, 0.623);
    height: auto;
    width: auto;
    position: absolute;
}
#menu #item:hover #desple {
    display: block;
}
#menu #item a:hover {
    background-color: rgb(46, 78, 219);
    color:rgb(152, 173, 231);
    border-radius: 10px;
}
/*Diseño de la estructura main o contenido xd*/
#menu header main {
    margin-top: 5%;
}
#menu header main .divmain{
    float: left;
}
#menu header main #text{
    width: 50%;
    margin-left: 20px;

}
#menu header main #img {
    margin-left: 10%;
}