<div class="container" id="botones">
    <button (click)="Cursos()" id="btn"type="button" class="btn btn-primary"><a id="letras">Cursos</a></button>
    <button (click)="Materias()" id="btn"type="button" class="btn btn-secondary"><a id="letras">Materias</a></button>
    <button (click)="Noticias()" id="btn"type="button" class="btn btn-success"><a id="letras">Noticias</a></button>
    <button (click)="Sugerencias()" id="btn"type="button" class="btn btn-danger"><a id="letras">Sugerencias</a></button>
    <button (click)="Usuarios()" id="btn"type="button" class="btn btn-info"><a id="letras">Usuarios</a></button>
</div>