<div class="container">
    <h1 style="text-align: center;">Noticias</h1>
    <br>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div  id="contenedorIMG"class="carousel-item active">
            <img id="img" src={{ruta1}} class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{titulo1}}</h5>
              <p>{{descripcion1}}</p>
            </div>
          </div>
          <div  id="contenedorIMG"class="carousel-item">
            <img id="img"src={{ruta2}} class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{titulo2}}</h5>
              <p>{{descripcion2}}</p>
            </div>
          </div>
          <div id="contenedorIMG" class="carousel-item">
            <img id="img" src={{ruta3}} class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{titulo3}}</h5>
              <p>{{descripcion3}}</p>
            </div>
          </div>
        </div>
        <button id="btn1"class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button  id="btn2"class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <h1 style="text-align: center;">Instituto Educativo Chiquitines </h1>
</div>