@media (min-width: 0px){
    
    #menu #menuDesktop{
        display: none;

    }
    #menu header main #img {
        display: none;
    }   
    #menu header main #text{
        width: 80%;
        margin-left: 5%;
    
    }
    #menu #logo{
        margin: -15px ;
        margin-left: 2%;
        float: right;
    }
    #menu #itemPhone{
        display: block;
    }
}