<app-botones-secciones></app-botones-secciones>

<div class="container">
    <table class="table table-dark table-hover table-bordered row-border">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mat of materias; let i=index">
                <td>{{mat.id}}</td>
                <td>{{mat.nombre}}</td>
                <td><button (click)="eliminarMaterias(i)" id="btn"type="button" class="btn btn-outline-danger btn-sm">Eliminar</button></td>
    
            </tr>             
        </tbody>
    </table>
    
<button (click)="AgregarMaterias()" id="btn"type="button" class="btn btn-warning">Crear Nueva Materia</button>
</div>