.col-sm-10{
    z-index: 2;
}
//mostly fluid
//phone
@media (min-width: 0px) {
    #principal{
        margin-top: 30%;
        margin-bottom: 68%;
    }
}
//desktop
@media (min-width: 796px) {
    #principal{
        margin-top: 13%;
        margin-bottom: 28%;
    }
}