<div class="container">
    <h3>Selecciona tu curso ⬇</h3>
    <select [(ngModel)]="cursosSelect" id="select" class="form-select" aria-label="Default select example">

        <option *ngFor="let cur of cursos;let i =index;" value={{i}}>{{cur.descripcion}}</option>
    </select>
    <br>
    <button (click)="Consultar()" id="btn"type="button" class="btn btn-secondary"><p id="letras">Consultar</p></button>
    <br>
    <br>
    <table class="table table-dark table-hover table-bordered row-border">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Materia</th>
                <th scope="col">Archivo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of CursosIndice">
                <th scope="row"></th>
                <td class="table-light">{{i.nombreRecurso}}</td>
                <td class="table-light">{{i.materia.nombre}}</td>
                <td id="link" class="table-light"><a href="{{i.ruta}}">{{i.ruta}}</a></td>               

            </tr>
        </tbody>
    </table>
</div>