.container{
    text-align: center;
}
#select{
    z-index: 1;
    position: relative;
}
#btn{
    z-index: 1;
    position: relative;
    border-radius: 20px;
}
#link{
    z-index: 1;
    position: relative;
}
 //mostly fluid
//phone
@media (min-width: 0px) {
    .container{
        margin-top: 20%;
        text-align: center;
        margin-bottom: 117%;
    }
  }
  //desktop
  @media (min-width: 796px) {
    .container{
        margin-top: 10%;
        text-align: center;
        margin-bottom: 30%;
    }
  }
