
<app-botones-secciones></app-botones-secciones>

<div class="container">
    <table class="table table-dark table-hover table-bordered row-border">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">rol</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usu of usuarios; let i=index">
                <td>{{usu.id}}</td>
                <td>{{usu.nombres}}</td>
                <td>{{usu.apellidos}}</td>
                <td>{{usu.rol.descripcion}}</td>
                <td><button (click)="eliminarUsuarios(i)" id="btn"type="button" class="btn btn-outline-danger btn-sm">Eliminar</button></td>
    
            </tr>             
        </tbody>
    </table>
    
<button (click)="CrearUsuario()" id="btn"type="button" class="btn btn-warning">Crear Nuevos Usuarios</button>
</div>