<div id="divMain">
    <div id="text" class="divmain">
        <h1>Misión</h1>
        <p>
            Instituto Chiquitines es una institución educativa de carácter
            privado que atiende niños desde sus primeros años de edad, ofrece una
            formación integral basada en las diferentes dimensiones del ser humano,
            bajo un enfoque de enseñanza que desarrolla las inteligencias múltiples,
            en marco de una pedagogía activa orientada en valores, que propicia una
            convivencia pacífica en su entorno social y cultural despertando su espíritu
            crítico, investigador y capacidad de liderazgo para enfrentar los retos de
            la vida.

        </p>
    </div> 
    <div id="img" class="divmain">
        <img src="../../../../../assets/img/mision.png" width="150">
    </div>
</div>