
#form{
    text-align: center;
} 
.textos {
    border-radius: 10px;
    position: relative;
}

#form button{
    background-color: rgb(4, 0, 255);
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    border-style: hidden;
}
//mostly fluid
//phone
@media (min-width: 0px) {
    /*adaptacion de el apartado contactenos*/
  #nombreapellido {
    width: 80%;
    height: 25px;
  }
  #email {
    width: 65%;
    height: 25px;
  }
  #telefono {
    width: 14%;
    height: 25px;
  }
  #mensaje {
    width: 80%;
    height: 100px;
  }
  #form p {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
  }
  #divMain{
    margin-top: 17%;
    margin-bottom: 31%;
  }
}
//desktop
@media (min-width: 796px) {
    /*adaptacion de el apartado contactenos*/
  #nombreapellido {
    width: 48%;
    height: 25px;
  }
  #email {
    width: 38%;
    height: 25px;
  }
  #telefono {
    width: 10%;
    height: 25px;
  }
  #mensaje {
    width: 48%;
    height: 100px;
  }
  #form p {
    width: 48%;
    margin-left: 26%;
    text-align: justify;
    font-size: 15px;
  }
  #divMain{
    margin-top: 8%;
    margin-bottom: 25%;
  }
}