<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div id="divMain">
    <form id="form">
        <legend>
            <h3>Contactenos</h3>
        </legend>
        <br>
        <input [(ngModel)]="nombreapellido" id="nombreapellido" type="text" name="datos" class="textos" style="z-index: 1;"
            placeholder="  Nombres y Apellidos *">
        <br><br>
        <input [(ngModel)]="email" id="email" type="email" name="email" class="textos" placeholder="  Email *">
        <input id="telefono" type="tel" name="telefono" class="textos" placeholder="  Telefono">
        <br><br>
        <textarea [(ngModel)]="mensaje" id="mensaje" name="mensaje" class="textos" placeholder=" Mensaje *"></textarea>
        <br><br>
        <div id="parrafocontactenos">
            <p>
                Instituto los chiquitines te informa que los
                datos de caracter personal que proporciones rellenando este
                formulario seran tratados por nuestra Institucion. La finalidad de la recogida
                y tratamiento de tus datos personales es dar respuestas a solicitudes de contacto
                y envio de contenidos. la legitimacion se realiza a traves de tu consentimiento.
                (Campos obligatorios *)
            </p>
        </div>

        <input [(ngModel)]="condiciones" type="checkbox" name="Politica " id="condiciones" style="position: relative;"> Aceptar politica de
        privacidad
        <br><br>

        <button type="button" style="position: relative"(click)="(ContactenosDatos())"> Enviar </button>
    </form>
</div>
