<div id="divMain">
    <form id="form">
        <legend>
            <h1>Contactenos</h1>
        </legend>
        <br>
        <input id="nombreapellido" type="text" name="datos" class="textos"
            placeholder="  Nombres y Apellidos *">
        <br>
        <br>
        <input id="email" type="email" name="email" class="textos" placeholder="  Email *">
        <input id="telefono" type="tel" name="telefono" class="textos" placeholder="  Telefono">
        <br>
        <br>
        <textarea id="mensaje" name="mensaje" class="textos" placeholder=" Mensaje *"></textarea>
        <br>
        <br>
        <div id="parrafocontactenos">
            <p>
                Instituto los chiquitines te informa que los
                datos de caracter personal que proporciones rellenando este
                formulario seran tratados por nuestra Institucion. La finalidad de la recogida
                y tratamiento de tus datos personales es dar respuestas a solicitudes de contacto
                y envio de contenidos. la legitimacion se realiza a traves de tu consentimiento.
                (Campos obligatorios *)
            </p>
        </div>

        <br>
        <input type="checkbox" name="Politica " id="condiciones"> Aceptar politica de privacidad
        <br><br><br>

        <button type="button" onclick="getDatos()"> Enviar </button>
    </form>
</div>