<div id="divMain">
    <div id="texthimno" class="divmainhimno">
        <h1>Himno</h1>

        <br>
            <h3>CORO</h3>
        <h4>El Instituto Chiquitines,</h4>
        <h4>Me empieza a equipar, equipar</h4>
        <h4>Con conocimiento y disposición</h4>
        <h4>A la practica debemos llegar.</h4>
        <h3>I</h3>
        <h4>Camine siempre a delante</h4>
        <h4>Es tiempo de la verdad, la verdad</h4>
        <h4>Con dedicación y con mucho amor</h4>
        <h4>El progreso pronto llegara.</h4>

    </div>
    <div id="bandera" class="divmainhimno">
        <img id="diseñobandera" src="../../../../../assets/img/bandera.jpeg" >
    </div>
</div>