<div id="loginDocentes">
    <div id="loginCenter">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Ingresar </h2>

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="../../../../assets/img/cap.png" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form >
                    <input [(ngModel)]="usuario" type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
                    <input [(ngModel)]="password" type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
                    <input type="button" class="fadeIn fourth" (click)="login()" value="Entrar">
                </form> 

            </div>
        </div>

    </div>
</div>

