<div id="menu" >
  <header>
    <div id="logo"><img src="../assets/img/logo.png" width="100px"></div>
    <li id="itemPhoneMain"><a id="diseñodeldesplegable" (click)="MostrarOcultarDesple()" style="cursor: pointer;"><img src="../assets/img/Menu.png"
          width="60"></a>
      <ul id="desplePhone" *ngIf="mostrarDatos">
        <li id="itemPhone"><a (click)="MostrarOcultarDesple()" [routerLink]="['/inicio']">Inicio</a> </li>
        <li id="itemPhone"><a (click)="MostrarOcultarDesple()" [routerLink]="['/recursos']">Recursos</a> </li>
        <li id="itemPhoneDesple"><a (click)="MostrarOcultarDesple()" id="esdesple">Quienes Somos ▽</a>
          <ul id="despleDelPhone">
            <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/mision']">✔ Mision</a></li>
            <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/vision']">✔ Vision</a></li>
            <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/objetivos']">✔ Objetivos</a></li>
            <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/historia']">✔ Nuestra Historia</a></li>
            <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/himno']">✔ Himno y bandera</a></li>
          </ul>
        </li>
        <li id="itemPhone"><a (click)="MostrarOcultarDesple()" [routerLink]="['/contactenos']">Contactenos</a> </li>
        <li id="itemPhone"><a (click)="MostrarOcultarDesple()" [routerLink]="['/docentes']">Docentes</a></li>
      </ul>
    </li>
    <ul id="menuDesktop">
      <li id="itemDesktop"><a [routerLink]="['/inicio']">Inicio</a> </li>
      <li id="itemDesktop"><a [routerLink]="['/recursos']">Recursos</a> </li>
      <li id="itemDesktop"><a id="esdesple" (click)="MostrarOcultarDesple()" style="cursor: pointer;">Quienes Somos
          ▽</a>
        <ul id="desple" *ngIf="mostrarDatos">
          <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/mision']">Misión</a></li>
          <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/vision']">Visión</a></li>
          <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/objetivos']">Objetivos</a></li>
          <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/historia']">Nuestra Historia</a></li>
          <li><a id="jehan" (click)="MostrarOcultarDesple()" [routerLink]="['/himno']">Himno y bandera</a></li>
        </ul>
      </li>
      <li id="itemDesktop"><a [routerLink]="['/contactenos']">Contáctenos</a> </li>
      <li id="itemDesktop"><a [routerLink]="['/docentes']">Docentes</a></li>
    </ul>
  </header>
  <div id="clickafuera" (click)="ocultardesple()">

  </div>
</div>