@media (min-width: 0px) {
  #menu #menuDesktop {
    display: none;
  }
  #menu header main #img {
    display: none;
  }
  #menu header main #text {
    width: 80%;
    margin-left: 5%;
  }
  /*logo*/
  #menu #logo {
    margin: -15px;
    margin-left: 2%;
    float: right;
  }
  #menu #logo img {
    width: 100px;
  }
  #menu #itemPhoneMain {
    display: block;
  }
  #menu header #mainprincipal h1 {
    font-size: 120%;
  }
  #menu header #mainprincipal {
    padding-top: 40%;
    padding-top: auto;
    padding-top: 20%;
  }
  #menu header #text {
    margin-top: 10%;
    text-align: left;
  }
  #diseñobandera {
    /*reducir tamaño bandera en phone*/
    width: 300px;
  }
  #menu header main .divmainhimno {
    /*referencia solo ahimno*/
    float: none;
    margin-top: 5%;
  }
  #imghistoria {
    display: none;
  }
  /*adaptacion de el apartado contactenos*/
  #nombreapellido {
    width: 80%;
    height: 25px;
  }
  #email {
    width: 65%;
    height: 25px;
  }
  #telefono {
    width: 14%;
    height: 25px;
  }
  #mensaje {
    width: 80%;
    height: 100px;
  }
  #menu header main form p {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
  }
  /*************************/
  #laterales1{
    display: none;
  }
  #laterales2{
    display: none;
  }
  #central{
    width:100% ;
  }
}
@media (max-height:730px) {/*Correccion de el parrafo de contactenos que se combinaba con el footer en pantallas poco altas*/
  #parrafocontactenos{
    display: none;
  }
}
