<div id="divMain">
    <div id="text" class="divmain">
        <h1>Historia</h1>
        <p>
            El Instituto Chiquitines inició siendo una pequeña institución de educación
            pre escolar en el año 1986.
            Recibía niños entre los 3 y 6 años de edad para que disfrutaran de sus
            primeras enseñanzas en los niveles de párvulo, pre-jardín, jardín y transición.
            Con el tiempo, su directora, la licenciada Benita Ortega Rodriguez, continuó trabajando por su
            sueño: convertir su centro de enseñanza en una institución que ofreciera la educación básica
            primaria en todos sus niveles de 1 a 5 grado porque así lo solicitaban los padres de los
            estudiantes, quienes estaban muy satisfechos con las enseñanzas impartidas a sus hijos y pedían
            que continuarán en los siguientes grados y terminar toda la básica primaria con un servicio del
            cual veían resultados y sobre todo por la gran calidad humana del personal, comprometido y
            calificado. Fue así, se logró la aprobación oficial de los grados y la institución continuó
            Siendo un pilar de valores, descubrimiento de talentos, amor por la naturaleza y la patria,
            estudio de la ciencia, recreación, amistad, trabajo en equipo, entre muchas mas.
            El Instituto chiquitines siempre estuvo ubicado en el barrio Nuevo Bosque, aportando a la
            comunidad todo el apoyo en lo relacionado
            con educación de calidad, reconociendo el derecho a la inclusión de todos los niños y niñas de
            la ciudad de Cartagena.
        </p>
    </div>
    <div id="imghistoria">
        <img src="../../../../../assets/img/Alumnos.jpeg" width="300">
    </div>
</div>